body {
  font-family: Microsoft JhengHei, sans-serif;
  background: rgb(30, 30, 30);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  user-select: none;
}

.board {
  display: flex;
  flex-direction: column;
  margin: 10px auto 20px;
  padding: 15px;
  border: 1.5px solid black;
  background: linear-gradient(to right, rgb(172, 127, 5), rgb(181, 136, 12), rgb(169, 126, 4), rgb(160, 119, 7))
}

.board-row {
  display: flex;
  flex-direction: row;
}

.square {
  height: 40px;
  width: 40px;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.square.has-backline::after {
  content: "";
  position: absolute;
  height: 39px;
  width: 39px;
  margin-top: 40px;
  margin-left: 40px;
  border: 1px solid black;
  pointer-events: none;
}

.blur {
  opacity: 0.3;
}

.coordinate {
  position: absolute;
  font-size: 16px;
  color: rgba(0, 0, 0, 60%);
}

.coordinate.col {
  margin-top: -32px;
}

.coordinate.row {
  margin-left: -32px;
}

.piece {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  z-index: 1;
}

.piece.black {
  border: 1px solid rgb(65, 65, 65);
  background: radial-gradient(black 30%, rgba(0, 0, 0, 70%) 50%, transparent),
    linear-gradient(125deg, #bbb, black 60%, black);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.piece.white {
  border: 1px solid rgb(117, 117, 117);
  background: radial-gradient(white 30%, rgba(255, 255, 255, 70%) 60%, transparent),
    linear-gradient(125deg, white, white 50%, black);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
}

.game-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.info-piece {
  height: 26px;
  width: 26px;
  margin: 0 6px;
}

.info-text {
  font-size: 24px;
  color: rgba(255, 255, 255, 70%);
}

.game-record {
  display: flex;
  background: rgba(255, 255, 255, 10%);
  overflow-x: scroll;
  width: 400px;
  height: 140px;
}

.game-record-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 10px;
  min-width: 35px;
  color: rgba(255, 255, 255, 70%);
  cursor: pointer;
}

.game-record-item:nth-child(even){
  background: rgba(255, 255, 255, 5%);
}

.game-record:not(:hover) .game-record-item:last-child{
  background: rgba(100, 160, 200, 30%);
}

.game-record-item:hover{
  background: rgba(100, 160, 200, 30%);
}

.record-round {
  font-size: 16px;
  margin-bottom: 2px;
}

.record-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.record-piece {
  height: 20px;
  width: 20px;
}